name: Python Pytest Testing

on:
    pull_request:
        branches:
            - develop
            - live

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            # Checkout the repository
            - uses: actions/checkout@v3
            # Set up Python
            - name: Set up Python
              uses: actions/setup-python@v3
              with:
                python-version: "3.x"
            # Install requirements
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            # Run Pytest
            - name: Test with pytest
              run: pytest